{% extends "auctions/layout.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'index' %}">&#8592; Back to Home</a>
                <hr>
                <h3 style="text-align:center">Profile Settings</h3>
                <hr>
                <img class="profile_setting" src="{{ request.user.profile_pic.url }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <form method="POST" actions="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Username:</p>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <p>Email:</p>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <p>Password:</p>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <p>Confirm Password:</p>
                        {{ form.confirmation }}
                    </div>
                    <div class="form-group">
                        <p>Profile Picture:</p>
                        {{ form.profile_pic }}
                    </div>
                    <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>

{% endblock %}