{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Posts - {{ auction.title }}
{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <!-- Auction listing's image -->
            <div class="col py-3">
                <img src="{{ auction.image.url }}" alt="auction.title" style="width: 22vw; min-width: 320px; max-width: 400ox; height:auto;">
                
            </div>

            <!-- Post details-->
            <div class="col-md-6 my-3">
                <!-- Header with title and Like icon -->
                <div class="header-section mb-3">
                    <h3 class="auction-title" style = "font-size: 30px;">{{ auction.title }}</h3>
                    <div><p><img class="feed_profile_pic" src="{{ request.user.profile_pic.url }}" alt="user.image"><strong> {{ auction.seller.username }} </strong></p></div>
                    <p>Posted on: <small>{{ auction.creation_date }}</small></p>
                </div>


                <div>Description:</div>
                <div><p style = "font-size: 25px;">{{ auction.description }}</p></div>
                {% comment %} <div>Creator:</div> {% endcomment %}
                {% if user.is_authenticated %}
                <!-- Like Icon -->
                {% if auction in user.watchlist.auctions.all %}
                    <i id="watchlist-icon-{{ auction.id }}" class="fa-solid fa-bookmark watchlist-icon in-watchlist" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: red;"></i>
                {% else %}
                    <i id="watchlist-icon-{{ auction.id }}" class="fa-regular fa-bookmark watchlist-icon" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: red;"></i>
                {% endif %}
            {% endif %}
                
                {% comment %} <div>Updated on:</div> {% endcomment %}
            </div>
        </div>
    </div>

    <hr id="listing_divider">

    <!-- comment form -->
    {% if user.is_authenticated %}
    <div class="container my-5" id="comment_block">
        <h4>Comment:</h4>
        <div data-auction-id="{{ auction.id }}" id="comment-section">
            <form id="comment-form" action="{% url 'comment' auction.id %}" method="post">
                {% csrf_token %} 

                <div class="row">
                    <div class="col">
                        <div>{{ commentForm.message }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col"> 
                        <button type="submit" id="comment_button" class="btn btn-primary" style="width: 120px">Submit</button>
                    </div>          
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- comments display -->
    <div class="container" id="comment_display">
        <h4>Item comment(s)</h4>
        {% if comments %}

        {% for comment in comments %}
        <div class="card mb-3">

            <div class="card-header">
                <strong>{{ comment.user.username }} </strong>
                <div class="text-muted small">
                    commented on {{ comment.cm_date }}
                </div>       
            </div>

            <div class="card-body">
              <p class="card-text"> {{ comment.message }}</p>   
            </div>
            
        </div>
        {% endfor %}

        {% else %}
        <p>No comments so far.</p>
        {% endif %}
    </div> 
</body>

    <script src="{% static 'auctions/watchlist.js' %}"></script>

    <script src="{% static 'auctions/comment.js' %}"></script>
        
{% endblock %}

